[submodule "PipelineMods/singan-seg-polyp"]
	path = PipelineMods/singan-seg-polyp
	url = https://github.com/vlbthambawita/singan-seg-polyp.git
[submodule "PipelineMods/generative-inpainting-pytorch"]
	path = PipelineMods/generative-inpainting-pytorch
	url = https://github.com/daa233/generative-inpainting-pytorch.git
[submodule "PipelineMods/gan-inpainting-zoo"]
	path = PipelineMods/gan-inpainting-zoo
	url = https://github.com/vlbthambawita/gan-inpainting-zoo.git
[submodule "PyTorch-GAN"]
	path = PyTorch-GAN
	url = https://github.com/eriklindernoren/PyTorch-GAN.git
[submodule "PipelineMods/PyTorch-GAN"]
	path = PipelineMods/PyTorch-GAN
	url = https://github.com/eriklindernoren/PyTorch-GAN
